# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [1]:
def vol(rad):
    volume = 4/3*3.14*rad**3
    return volume
    
vol(5)

523.3333333333334

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [2]:
def ran_check(num,low,high):
    if low<=num<=high:
        print(num,"is in range of",low,"and",high)
    else:
        print(num,"is not in range of",low,"and",high)
        
ran_check(2,1,5)

2 is in range of 1 and 5

If you only wanted to return a boolean:

In [3]:
def ran_bool(num,low,high):
    if low<=num<=high:
        return True
    else:
        return False
    
ran_bool(2,1,5)

True

In [4]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [5]:
# method 1
def low_up():
    s="Hello Mr. Rogers, how are you this fine Tuesday?"
    a=0
    b=0
    for i in range(len(s)):
        if s[i].isupper()==True and s[i].isalpha()==True:
            a=a+1
        elif s[i].islower()==True and s[i].isalpha()==True:
            b=b+1
        else:
            pass
    print("No. of upper case characters:",a)
    print("No. of lower case characters:",b)

low_up()

No. of upper case characters: 4
No. of lower case characters: 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [6]:
def unique_list(l):
    s=set(l)
    l1=list(s)
    return l1

    
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [7]:
def multiply():
    l=[1, 2, 3, -4]
    n=1
    for i in l:
        n=n*i
    return n
multiply()

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [8]:
def palindrome(s):
    if s==s[::-1]:
        print(s,' is a palindrome')
    else:
        pass

In [9]:
palindrome('helleh')

helleh  is a palindrome

## Given a number N.Find Sum of 1 to N Using Recursion

In [10]:
# CODE HERE
def summation(n):
    if n==0:
        return n
    else:
        return n+summation(n-1)
    
summation(5)

15

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [11]:
def printList():
    l=[]
    for i in range(1,21):
        i=i*i
        l.append(i)
    print(l)

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [12]:
def printDict():
    d={}
    for i in range(1,21):
        d[i]=i*i
    print(d)
printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [13]:
def count(s):
    a=s.split()
    
    for i in a:
        print(i,len(i))
              
count("innomatics research labs")

innomatics 10
research 8
labs 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [14]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l=list(map(lambda a : a*a,li))
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [15]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def even(li):
    if li%2==0:
        return True
    else:
        return False
l=filter(even,li)
l2=list(l)
l2

[2, 4, 6, 8, 10]

In [16]:
s=list(map(lambda a: a*a ,l2))
s

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [17]:
li = list(range(1,21))
def even(li):
    if li%2==0:
        return True
    else:
        return False
l=list(filter(even,li))
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [1]:
def f(n):
    if n==0 or n==1:
        return n
    else:
        return f(n-1)+f(n-2)
    
f(2)

1

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)